<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header-content}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
  <style>
    #wrapper {
      background-image: url("/img/gallery_wall.png");
      background-size: 500px;
    }
    .modal {
      background-color:rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #imageModal-wrapper {
      margin-left: auto;
      margin-right: auto;
      overflow: visible;
      min-width: 850px;
      background-color: white;
    }
  </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script th:inline="javascript">
    function openModal(elem) {
      const modal = document.getElementById("imageModal");
      const modalImg = document.getElementById("modalImage");
      modal.style.display = "block";

      // ajax 요청
      var id = elem.getAttribute("id");
      var csrfToken = $('meta[name="_csrf"]').attr('content');  // meta 태그에서 CSRF 토큰을 가져옴
      var csrfHeader = $('meta[name="_csrf_header"]').attr('content');  // CSRF 헤더 이름 가져오기

      $.ajax({
        url: "/api/image",
        type: "POST",
        data: JSON.stringify({
          imageId: id,
        }),
        contentType:"application/json",
        beforeSend: function(xhr) {
          // CSRF 토큰을 헤더에 추가
          xhr.setRequestHeader(csrfHeader, csrfToken);
        },
        success: function (data, status, xhr) {
          console.log(data);
          modalImg.src = `/images/gallery/${data.image.imgFileName}`;
          return;
        },
        error: function(data, status, err) {
          console.error(err);
          alert("error!");
          return;
        }
      })
    }

    function closeModal() {
      document.getElementById("imageModal").style.display = "none";
      const modalImg = document.getElementById("modalImage");
      modalImg.src = 'none';
    }

    // ESC 키로 닫기
    document.addEventListener("keydown", function (e) {
      if (e.key === "Escape") {
        closeModal();
      }
    });
  </script>
</th:block>

<div layout:fragment="content">
  <div class="title">
    ギャラリー
  </div>
  <div class="content-wrapper">
    <div class="image-area">
      <th:block th:each="imgContent, count: ${images}">
        <a href="javascript:void(0);"
           th:attr="data-img='/images/gallery/' + ${imgContent.getImgFileName()}"
           onclick="openModal(this)"
           th:id="${imgContent.getImgId()}"
        >
          <img th:src="@{'/images/gallery/' + ${imgContent.getImgFileName()}}" style="width:200px; height:auto; object-fit: contain">
        </a>
        <div class="w-100" th:if="${count.index%3 == 2}"></div>
      </th:block>
    </div>
    <div class="action-area">
      <button onclick="location.href='/gallery/new';">NEW</button>
    </div>
    <!-- 페이지 네비게이션 -->
    <div class="pagination">
      <ul style="list-style:none; display:flex; gap:5px; justify-content:center; padding:0;">
        <li th:if="${images.hasPrevious()}">
          <a th:href="@{|/gallery?page=${images.number - 1}|}">prev</a>
        </li>

        <li th:each="i : ${#numbers.sequence(0, images.totalPages - 1)}"
            th:classappend="${images.number == i} ? 'active'">
          <a th:href="@{|/gallery?page=${i}|}"
             th:text="${i + 1}"></a>
        </li>

        <li th:if="${images.hasNext()}">
          <a th:href="@{|/gallery?page=${images.number + 1}|}">next</a>
        </li>
      </ul>
    </div>

    <!-- 모달 영역 -->
    <div id="imageModal" class="modal" style="display:none;">
      <table id="imageModal-wrapper">
        <colgroup>
          <col style="width:25px">
          <col style="width:800px">
          <col style="width:25px">
        </colgroup>
        <tbody>
          <tr style="height:25px;">
            <th></th>
            <th></th>
            <th class="close" onclick="closeModal()">
              <img src="/img/close_btn.png">
            </th><!--close button-->
          </tr>
          <tr style="height:600px;">
            <th></th>
            <th class="imageModal-frame">
              <img class="modal-content" id="modalImage">
            </th>
            <th></th>
          </tr>
          <tr style="height:5px"></tr>
          <tr style="height:40px;">
            <th></th>
            <th>text</th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>