<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        // $(document).ready(function() {
        //   var errorMessage = [[${errorMessage}]];
        //   if (errorMessage != null) {
        //     alert(errorMessage);
        //   }
        // });
    </script>
</th:block>

<div layout:fragment="content">
    <div>게시물 열람 페이지</div>
    <ul>
        <li>
            <div>제목
                <span th:text="${post.getTitle()}"></span>
            </div>
        </li>
        <li>
            <div>
                작성자
                <span th:text="${memberName}"></span>
                 / 작성일
                <span th:text="${post.getCreatedTime()}"></span>
            </div>
        </li>
        <li>
            <div>내용</div>
            <div th:text="${post.getContent()}"></div>
        </li>
        <li>
            <div>태그</div>
            <div th:text="${post.getTags()}"></div>
        </li>
    </ul>
</div>