<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <!-- jQuery CDN 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<!-- 사용자 css 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        // $(document).ready(function() {
        //   var errorMessage = [[${errorMessage}]];
        //   if (errorMessage != null) {
        //     alert(errorMessage);
        //   }
        // });
    </script>
</th:block>

<div layout:fragment="content">
    <div>게시물 열람 페이지</div>
    <ul>
        <li>
            <div>제목
                <span th:text="${post.getTitle()}"></span>
            </div>
        </li>
        <li>
            <div>
                작성자
                <span th:text="${memberName}"></span>
                 / 작성일
                <span th:text="${post.getCreatedTime()}"></span>
            </div>
        </li>
        <li>
            <div>내용</div>
            <div th:text="${post.getContent()}"></div>
        </li>
        <li>
            <div>태그</div>
            <div th:text="${post.getTags()}"></div>
        </li>
    </ul>
    <button onclick="deletePost()">삭제</button>
    <input type="hidden" class="post-id" th:value="${post.getPostId()}">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<!--    <meta name="_csrf" th:content="${_csrf.token}">  &lt;!&ndash; meta 태그로 CSRF 토큰 삽입 &ndash;&gt;-->
</div>
<script>
    function deletePost() {
        // CSRF 토큰을 meta 태그에서 가져옴
        var csrfToken = $('meta[name="_csrf"]').attr('content');  // meta 태그에서 CSRF 토큰을 가져옴
        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');  // CSRF 헤더 이름 가져오기

        var postId = document.querySelector(".post-id").value;

        $.ajax({
            url: "/api/posts",
            type: "POST",
            data: JSON.stringify({
                postId: postId,
            }),
            contentType:"application/json",
            beforeSend: function(xhr) {
                // CSRF 토큰을 헤더에 추가
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (data, status, xhr) {
                if (status === 200) {
                    alert(data.status);
                    document.location.replace("/posts/search");
                }
                return;
            },
            error: function(data, status, err) {
                console.error(err);
                alert("error!");
                return;
            }
        })
    }
</script>
</html>