<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header-content}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <div class="title">
    게시판
  </div>
  <div class="search-bar">
    <div class="search-type">검색 방식 선택</div>
    <input class="search-box" id="keyword" placeholder="검색어를 입력하세요">
    <button class="btn btn-search" onclick="fnSearch();">검색버튼</button>
  </div>
    <table>
      <colgroup>
        <col width="6%" />
        <col width="60%" />
        <col width="17%" />
        <col width="17%" />
      </colgroup>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Author</th>
        <th>작성일</th>
      </tr>
      <th:block th:each="post: ${postList}">
        <tr class="post">
          <td class="post-id" th:text="${post.getPostId()}"></td>
          <td class="post-title">
            <a href="#" class="post-link" th:href="@{/posts/detail/{postId} (postId=${post.getPostId()}) }"
               th:text="${post.getTitle()}" data-post-id="${post.getPostId()}">게시물 제목</a>
          </td>
          <td th:text="${post.getMemberId()}"></td>
          <td th:text="${post.getCreatedTime()}"></td>
        </tr>
      </th:block>
    </table>
    <div class="action-area">
      <button onclick="location.href='/posts/new'">글쓰기</button>
      <button>버튼3</button>
    </div>
</div>
</body>
<script>
  function fnSearch(){
    var keyword = document.querySelector("#keyword").value;
    location.href='/posts/search?keyword=' + keyword;
  }
</script>
</html>