<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
  <div class="inner">
    <p class="logo">
      <a href="/" style="padding-left: 8px;">
        <img src="/img/main_logo2.png" width="90" height="90" style="transform: scale(140%); object-fit: contain"/>
      </a>
    </p>
    <nav class="menu" style="opacity: 1; display: inline-block;">
      <div class="menu-inner">
        <ul class="main-nav">
          <li>
            <a class="top" href="/">
              <span class="jp">トップ</span>
              <span class="en">TOP</span>
            </a>
          </li>
          <li>
            <a class="news" href="https://x.com/aqours_fan_rp">
              <span class="jp">総合案内所</span>
              <span class="en">INFORMATION</span>
            </a>
          </li>
<!--          <li>-->
<!--            <a class="post" href="/posts/search">-->
<!--              <span class="jp">コメント</span>-->
<!--              <span class="en">POSTS</span>-->
<!--            </a>-->
<!--          </li>-->
          <li>
            <a class="yosegaki" href="/yosegaki">
              <span class="jp">浦女教室</span>
              <span class="en">CLASSROOM</span>
            </a>
          </li>
          <li>
<!--            <a class="gallery" href="/gallery">-->
            <a class="gallery" onclick="notOpened()">
              <span class="jp">写真館</span>
              <span class="en">PHOTO STUDIO</span>
            </a>
          </li>
<!--          <li>-->
<!--            <a class="gallery" href="/">-->
<!--              <span class="jp">海辺</span>-->
<!--              <span class="en">BEACH</span>-->
<!--            </a>-->
<!--          </li>-->
          <li>
            <a class="help" href="https://docs.google.com/forms/d/e/1FAIpQLSc6iLyae1yYeaAXoTkC4sirnR5cL3HkQn6AaUYT-L22ZZoZXw/viewform?usp=header">
              <span class="jp">サポート</span>
              <span class="en">SUPPORT</span>
            </a>
          </li>
<!--          <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')"> &lt;!&ndash; 관리자 권한 &ndash;&gt;-->
<!--            <a class="admin" href="/admin">-->
<!--              <span class="jp">관리자 메뉴</span>-->
<!--              <span class="en">ADMIN</span>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        <p class="account login">
          <a sec:authorize="isAnonymous()" href="/members/login">LOGIN</a>
          <a sec:authorize="isAuthenticated()" href="javascript:;">
            HI
            <span>WELCOME</span>
          </a>
        </p>
      </div>
      <nav class="account-dropdown" sec:authorize="isAuthenticated()">
        <ul>
          <li>
            <a href="/mypage">MY PAGE</a>
          </li>
          <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a href="/admin">관리자 메뉴</a>
          </li>
          <li >
            <a href="/members/logout">LOGOUT</a>
          </li>
        </ul>
      </nav>
    </nav>
  </div>
  <script sec:authorize="isAuthenticated()">
    <!-- login-user-menu -->
    document.querySelector(".account a").addEventListener("click", function() {
      const dropdown = document.querySelector(".account-dropdown");
      if(dropdown != null) {
        if (dropdown.style.display === 'none') {
          dropdown.style.display = 'block'
        } else {
          dropdown.style.display = 'none'
        }
      }
    });
  </script>
  <script>
    <!-- menu on -->
    document.addEventListener("DOMContentLoaded", function() {
      if (location.href.includes('/notice')) {
        document.querySelector(".main-nav .news").closest("li").className = 'active';
      // } else if (location.href.includes('/posts')) {
      //   document.querySelector(".main-nav .post").closest("li").className = 'active';
      } else if (location.href.includes('/help')) {
        document.querySelector(".main-nav .help").closest("li").className = 'active';
      } else if (location.href.includes('/yosegaki')) {
        document.querySelector(".main-nav .yosegaki").closest("li").className = 'active';
      } else if (location.href.includes('/gallery')) {
        document.querySelector(".main-nav .gallery").closest("li").className = 'active';
      } else if (location.href.includes('/')) {
        document.querySelector(".main-nav .post").closest("li").className = 'active';
      } else if (location.href.includes('/admin')) {
        document.querySelector(".main-nav .admin").closest("li").className = 'active';
      } else if (location.href.includes('/members')) {
        // no active tab
      } else {
        document.querySelector(".main-nav .top").closest("li").className = 'active';
      }
    });

    function notOpened() {
      alert('この先 工事中\nご迷惑をおかけしております');
    }
  </script>
</div>
</html>