<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Title</title>
</head>
<body>
    <div class="wrapper rinaChanBoard-wrapper">
        <div class="rinaChanBoard">
            <svg class="rinaChanBoard-vector">
                <polygon
                        class="rinaChanBoard-body"
                        points="0,130 228,1 400,40 572,1 800,130 750,510 620,610 180,610 50,510"
                        fill="lightblue" stroke="black" stroke-width="1"
                />
                <polygon
                        class="rinaChanBoard-screen"
                        points="112,190 110,145 245,70 400,110 555,70 690,145 688,190 720,220 677,535 600,590 200,590 123,535 80,220"
                        fill="white" stroke="black" stroke-width="1"
                />
            </svg>
            <svg class="rinaChanBoard-frame">
                <polyline
                        points="45,170 87,500"
                        fill="none" stroke="black" stroke-width="21" stroke-linecap="round" />
                <polyline
                        points="45,170 87,500"
                        fill="none" stroke="#7da8b6" stroke-width="20" stroke-linecap="round" />
                <polyline
                        points="55,135 235,40 400,80 565,40 745,135"
                        fill="none" stroke="black" stroke-width="21" stroke-linecap=""/>
                <polyline
                        points="55,135 235,40 400,80 565,40 745,135"
                        fill="none" stroke="#7da8b6" stroke-width="20" />
                <polyline
                        points="755,170 713,500"
                        fill="none" stroke="black" stroke-width="21" stroke-linecap="round" />
                <polyline
                        points="755,170 713,500"
                        fill="none" stroke="#7da8b6" stroke-width="20" stroke-linecap="round" />
            </svg>
            <div class="rinaChanBoard-face">
                <div class="eyes eyes-left">
                    <svg>
                        <polyline
                            points="75,0 75,102"
                            fill="none" stroke="magenta" stroke-width="45"/>
                    </svg>
                </div>
                <div class="eyes eyes-right">
                    <svg>
                        <polyline
                            points="75,0 75,102"
                            fill="none" stroke="magenta" stroke-width="45"/>
                    </svg>
                </div>
                <div class="mouth">
                    <svg>
                        <polyline
                            points="70,100 230,100"
                            fill="none" stroke="magenta" stroke-width="30"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</body>
</html>